<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<title>Añadir Producto</title>
</head>
<body class="bg-slate-800">
<div style="margin:auto" class="w-1/2">
	<h1 class="text-2xl my-12 text-center text-gray-900 dark:text-white font-medium uppercase">- Registro de productos -</h1>
	<form th:action="@{/product/register}" th:object="${product}" method="post">
  <div class="mb-6">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre:</label>
    <input type="text" id="name" th:field="*{name}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Café Express de 500ml..." required>
  </div>
  <div class="mb-6">
    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción:</label>
    <textarea id="description" th:field="*{description}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required placeholder="Un café clásico, era el favorito de Steve Jobs..."></textarea>
  </div>
  
<div class="mb-6 flex">
    <div class="flex items-center h-5">
        <input type="checkbox" id="pdfOption" name="shouldGeneratePdf" checked class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
    </div>
    <div class="ml-2 text-sm">
        <label for="pdfOption" class="font-medium text-gray-900 dark:text-gray-300">Generar Constancia</label>
        <p id="helper-checkbox-text" class="text-xs font-normal text-gray-500 dark:text-gray-300">Un PDF con los datos registrados para no quedar de mentiroso &#128064;</p>
    </div>
</div>
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Añadir Producto</button>
</form>
</div>


</body>
</html>